@font-face {
    font-family: "BlockBertholdtextured";
    src: url("BlockBertholdTextured.woff");
}

h1{
    font-family: BlockBertholdTextured;
}


.header{
    height: 70px;
    background-color: white;
    overflow: hidden;
    font-size: 62.5%;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 99%;


}

.logo{
    border-radius: 50%;
    position: absolute;
    background: white;
    padding: none;
    width: 79px;
    aspect-ratio: auto 79 / 79;
    height: 79px;
    margin: 0;
    left: 42px;
}

body{
    background-color: aqua;
}

.dine{
    font-family: "BlockBertholdTextured";
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .3px;
    text-transform: uppercase;
    padding-left: 162px;
    padding-top: 20px;
    color: #6f3c2f;
}


.delivery{
    font-family: "BlockBertholdTextured";
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .3px;
    text-transform: uppercase;
    padding-left: 162px;
    padding-top: 20px;
    color: #6f3c2f;
}
